.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: var(--viewport-height);
    background-color: black;
    z-index: 100;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform-origin: left center;
    will-change: top, left, opacity, transform;

    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
}

.logo__fill {
    fill: red;
    filter: drop-shadow(0 0 14px rgb(255 59 48 / 0.25));
}

.logo__mask-path {
    fill: none;
    stroke: white;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.loaded {
    animation: 0.7s container-disappear ease-in-out forwards;
    animation-delay: 0.1s;

    .loader {
        animation: 0.7s logo-disappear ease-in-out forwards;
    }
}

@media (max-width: 690px) {
    .loaded {
        .loader {
            animation: 0.7s logo-disappear-mobile ease-in-out forwards;
            -webkit-animation: 0.7s logo-disappear-mobile ease-in-out forwards;
        }
    }
}

@keyframes logo-disappear {
    90% {
        top: 45px;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 45px;
        pointer-events: none;
    }
}

@keyframes logo-disappear-mobile {
    90% {
        top: 45px;
        left: var(--space-lg);
        transform: translate3d(0, -50%, 0) scale(0.6667);
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 45px;
        left: var(--space-lg);
        transform: translate3d(0, -50%, 0) scale(0.6667);
        pointer-events: none;
    }
}

@-webkit-keyframes logo-disappear-mobile {
    90% {
        top: 45px;
        left: var(--space-lg);
        -webkit-transform: translate3d(0, -50%, 0) scale(0.6667);
                transform: translate3d(0, -50%, 0) scale(0.6667);
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 45px;
        left: var(--space-lg);
        -webkit-transform: translate3d(0, -50%, 0) scale(0.6667);
                transform: translate3d(0, -50%, 0) scale(0.6667);
        pointer-events: none;
    }
}

@keyframes container-disappear {
    90% {
        height: 0;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        height: 0;
        pointer-events: none;
    }
}
