.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--space-lg);
    box-sizing: border-box;
    z-index: 3;
}

.logo-img {
    position: absolute;
    left: 50%;
    height: 60px;
    transform: translateX(-50%);
    cursor: pointer;

    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: translateX(-50%) scale(1.05);
    }
}

nav {
    cursor: pointer;
    font-size: 26px;
    flex-shrink: 0;
}
