<div #footer class="container" [class.background-noise]="isHomeRoute">
    <img class="separator" src="icons/footer.png">

    <img [style.transform]="logoTransform()" class="logo" src="icons/logo-black.svg" alt="Allanoirceur-Logo">

    <div [style.transform]="logoTransform()" class="links-container">
        @for (link of SOCIAL_LINKS; track $index) {
            <app-link-preview
                [link]="link"
            ></app-link-preview>
        }
    </div>

    <div class="credits">
        <p>© 2026 - BUILT WITH LOVE</p>
        
        <app-link-preview
            [link]="{label: 'MADE BY KYNSAE', url: 'https://kynsae.com'}"
        ></app-link-preview>
    </div>
</div>
